<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="map"         default="env7"/>
    <arg name="map_file"    default="$(find lattice_planner)/maps/$(arg map)/$(arg map).yaml"/>
    <arg name="pgm_file"    default="$(find lattice_planner)/maps/$(arg map)/$(arg map).pgm"/>
    <arg name="world_file"  default="$(find lattice_planner)/maps/$(arg map)/$(arg map).world"/>
    <param name="/use_sim_time" value="true"/>

    <!-- ************** Stage ************** -->
    <node name="stage_ros" pkg="stage_ros" type="stageros" args="$(arg world_file)" output="screen">
        <param name="base_watchdog_timeout" value="0.5"/>
    </node>

    <!-- ************ Navigation *********** -->
    <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" launch-prefix="valgrind leak-check=full track-origins=yes"-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find lattice_planner)/launch/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find lattice_planner)/launch/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find lattice_planner)/launch/move_base/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find lattice_planner)/launch/move_base/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find lattice_planner)/launch/move_base/global_planner_params.yaml" command="load" />
        <rosparam file="$(find lattice_planner)/launch/move_base/local_planner_params.yaml" command="load"/>
        <!--param name="base_global_planner" value="navfn/NavfnROS"/-->
        <!--param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/-->
    </node>

    <!-- *************** Maps ************** -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="/map"/>
    </node>

    <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false"/>

    <!-- *************** RViz ************** -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lattice_planner)/launch/rviz/simulation.rviz"/>

</launch>
